*{
  box-sizing: border-box;
}

.app,.movie{
  margin: 5px;
  padding: 5px;
}
.searchCom{
text-align: center;
margin: 20px;
}
.searchText{
margin: 3px;
  width: 50%;
  font-size: large;
  padding:  5px;
}
.searchBtn{
  margin: 3px;

  font-size: large;
  padding:  5px;
}
.movie{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


}